
<header class="header">
    <h1 class="header__title">
        Angular : UI Components Collection
    </h1>
</header>

<div class="components">

    <div class="components__component">
        <div class="components_demo">
            <app-paginator></app-paginator>
        </div>
        <div class="components_code">
            <app-code></app-code>
        </div>
    </div>

    <div class="components__component">
        <div class="components_demo">
            <app-paginator></app-paginator>
        </div>
        <div class="components_code">
            <app-code></app-code>
        </div>
    </div>

</div>
