<div class="wrap">

  <header class="header">
    <h1 class="header__title">
      Angular UI Components Collection
    </h1>
    <p class="header__intro">
      Un recueil en vrac de side-projects relativements utiles (et parfois pas dutout). Tout le code est disponible sur
      GitHub bien entendu.
    </p>
  </header>

  <div class="components">

    <app-element>
      <h1>Photo paginator</h1>
      <app-paginator></app-paginator>
    </app-element>

    <app-element>
      <h1>Drag'N'Drop</h1>
      <app-drag-ndrop></app-drag-ndrop>
    </app-element>
    
    <app-element>
      <h1>Photo paginator</h1>
      <app-paginator></app-paginator>
    </app-element>

    <app-element>
      <h1>Drag'N'Drop</h1>
      <app-drag-ndrop></app-drag-ndrop>
    </app-element>


  </div>

</div>
