.wrap {
  margin: 20px auto;
  width: 80%;
  max-width: 2000px;

  padding-bottom: 20rem;
}

.header {
  margin: 100px 0;

  &__title {
    font-size: 30px;
    text-align: center;
  }

  &__intro {
    margin-top: 5em;
  }
}

.components {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 20px;

}
