<div class="wrap">

  <header class="header">
    <h1 class="header__title">
      Angular UI Components Collection
    </h1>
    <p class="header__intro">
      Un recueil en vrac de side-projects relativements utiles (et parfois pas dutout). Tout le code est disponible sur
      GitHub bien entendu.
    </p>
  </header>

  <div class="components">

    <div class="components__component">
      <h1 class="components__title subtitle">Photo paginator</h1>
      <app-paginator></app-paginator>
    </div>

    <div class="components__component">
      <h1 class="components__title subtitle">Drag'N'Drop</h1>
      <app-drag-ndrop></app-drag-ndrop>
    </div>



  </div>

</div>
