.wrap {
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
}

.header {
    margin: 100px 0;

    &__title {
        font-size: 30px;
        text-align: center;
    }

    &__intro {
        margin-top: 5em;
    }
}

.components {

    border: 2px solid lightgrey;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__component {
        padding: 30px;
        border: 2px solid pink;
    }

    &__title {
        text-align: center;
        margin-bottom: 10px;
    }
}