.wrap {
    margin-top: 2em;
    display: grid;
    align-items: center;
    justify-items: center;
}

.list {
    width: 80%;
}
.cdk-drag {
    color: white;
    font-weight: 500;

    list-style: none;
    padding: 18px;
    font-size: 1.2em;
}

.cdk-drag-preview {
    height: 20px !important;
    margin: 0 !important;
    opacity: .8;
}

.cdk-drag-placeholder {
    opacity: .1;
}